node_modules
test-output
.dockerignore
auth
test-output
helm
scripts
test-output
docker-compose*
Jenkinsfile
README.md
app/static/stylesheets/*.css*
Dockerfile
npm-debug.log
docs
.secrets.baseline
.snyk
.pre-commit-config.yaml
LICENCE
jsconfig.json
.vscode
.gitignore
.vs
sonar-project.properties
